<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for(user of users;track user){
        <tr [attr.id]="$index">
            @if(rowToEdit === $index){
            <ng-container *ngTemplateOutlet="EditRow;context:{_user:user}">
            </ng-container>
            } @else {
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            }
            <td><i class="fa fa-pencil pointer" (click)="edit($index, user)"></i></td>
            <td><i class="fa fa-save pointer" (click)="save($index)"></i></td>
        </tr>
        }
    </tbody>
</table>

<ng-template #EditRow let-user="_user" [formGroup]="editForm">
    <td>{{user?.id}}</td>
    <td><input type="text" class="form-control w-75" formControlName="name" /></td>
    <td><input type="text" class="form-control w-75" formControlName="username" /></td>
    <td><input type="text"  class="form-control w-75" formControlName="email" /></td>
</ng-template>